<html>
	<head>
		<title>Show Edit Restaurant</title>
	</head>
	<body>
		<form action="updateRestaurant" method="put">
			<H4>Name of Restaurant</H4>
			<input type="text" value="<%= restaurant.name %>" name="name"><br>
			<H4>Address</H4>
				<table>
					<tr>
						<td>Building:</td> 
						<td><input type="text" value="<%= restaurant.address.building %>" name="building"></td>
					</tr>
					<tr>
						<td>Street:</td>
						<td><input type="text" value="<%= restaurant.address.street %>" name="street"></td>
					</tr>
					<tr>
						<td>Zipcode:</td>
						<td><input type="text" value="<%= restaurant.address.zipcode %>" name="zipcode"></td>
					</tr>
			</table>
			<H4>Corrdinates</H4>
			<table>
					<tr>
						<td>Longitude:</td> 
						<td><input type="text" value="<%= restaurant.address.coord[0] %>" name="lon"></td>
					</tr>
					<tr>
						<td>Latitude:</td>
						<td><input type="text" value="<%= restaurant.address.coord[1] %>" name="lat"></td>
					</tr>
			</table>
			<H4>Other Info</H4>
			<table>
					<tr>
						<td>Borough:</td> 
						<td><input type="text" value="<%= restaurant.borough %>" name="boroug"></td>
					</tr>
					<tr>
						<td>Cuisine:</td>
						<td><input type="text" value="<%= restaurant.cuisine %>" name="cuisine"></td>
					</tr>
					<tr>
						<td>Restaurant Id:</td>
						<td><input type="text" value="<%= restaurant.restaurant_id %>" name="id"></td>
					</tr>
			</table>
			<br>
			<input type='submit' value='Update'><br><br>
			<b><a href="/">Go home</a></b>
		</form>
	</body>
</html>